<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jigsawcontrols" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >

        <uses-feature android:name="android.hardware.camera" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

        <activity
            android:name=".uiActivities.MyDrawerActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".uiActivities.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".uiActivities.QuickAccessActivity"
            android:label="@string/quick_access" >
        </activity>

        <activity
            android:name=".uiActivities.LoginActivity"
            android:label="@string/login" >
        </activity>

        <activity
            android:name=".uiActivities.NewRecordActivity"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <activity
            android:name=".uiActivities.OldRecordActivity">
        </activity>

        <activity
            android:name=".uiActivities.HistoryActivity">
        </activity>

    </application>

</manifest>
